#skills {
    position: relative;
    background-image: url('../../assets/pixelBackgroundblack.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.logos-list {
    display: grid;
    grid-template-columns: repeat(4, 10%);
    justify-content: center;
    row-gap: 30px;
}
